@model category
@{
    ViewData["Title"] = "Add";
    Layout = "_Dashboard";
}

<h1>Add Category</h1>
<form asp-action="Add" asp-controller="category" method="post">
    <div class="form-group first my-3">
        <label for="category_name" class="text-danger my-3"><h5>Category Name:</h5></label>
        <input asp-for="category_name" class="form-control" placeholder="Add new Category">
    </div>
    <input type="submit" value="Add" class="btn btn-block py-2 btn-primary">
</form>

