@model List<category>
@{
    ViewData["Title"] = "Categories";
    Layout = "_Dashboard";
    int counter = 0;
}

<h1>Categories</h1>

<table class="container my-1 table table-striped text-center">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Remove</th>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++counter)</td>
                <td>@item.category_name</td>
                <td><a asp-action="Edit" asp-controller="category" asp-route-id="@item.category_ID" class="btn btn-secondary px-3 m-1">Edit</a></td>
                <td><a asp-action="delete" asp-controller="category" asp-route-id="@item.category_ID" class="btn btn-danger m-1" onclick="return confirm('Are you sure to delete ?')">Remove</a></td>

            </tr>
            
        }
    </tbody>
</table>
<a asp-action="add" asp-controller="category" class="btn btn-danger my-1">Add New Category</a>