@model Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "_Dashboard";
}
<div class="container">
    <div class="row">
        <h1 class="p-2">Edit Product</h1>
        <div class="col-sm-6 my-5">
            <form asp-action="UpdateProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input asp-for="product_ID" class="form-control" hidden>
                </div>
                <div class="form-group">
                    <label for="product_name" class="text-danger my-3">Name</label>
                    <input asp-for="product_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="product_price" class="text-danger my-3">Price</label>
                    <input asp-for="product_price" class="form-control">
                </div>
                <div class="form-group">
                    <label for="product_image" class="text-danger my-3">Image</label>
                    <input type="file" asp-for="product_image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description" class="text-danger my-3">Description</label>
                    <input  asp-for="description" class="form-control">
                </div>
                <div class="form-group">
                    <label for="category_ID" class="text-danger my-3">Category</label>
                    <select asp-for="category_ID" asp-items="@ViewBag.categories">
        </select>
                </div>
                <input type="submit" value="Edit" class="btn btn-block my-2 btn-danger">
            </form>
        </div>
    </div>
</div>