@model List<Product>
@{
    ViewData["Title"] = "Menu";
	Layout = "_Home";
	int? id = Context.Session.GetInt32("Id");
}
<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
			@foreach(var product in Model){
				<div class="col-lg-4 col-md-4 col-sm-6 ">
					<a  class="fh5co-card-item" asp-action="AddCart" asp-controller="Customer" asp-route-id="@product.product_ID">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src=@product.product_image alt="Image" class="img-responsive">
						</figure>
						<div class="fh5co-text">
							<h2>@product.product_name</h2>
							
							<p><span class="price cursive-font">@product.product_price $</span>
								
								</p>
						</div>
					</a>
				</div>
			
			}
			</div>
		</div>
	</div>